{% extends "layout.html" %}
{% block content %}

<section class="auth-section">
    <div class="auth-box">

        <div class="auth-header">
            <h1>Forgot Password</h1>
            <p>Enter your registered mobile number or email.</p>
        </div>

        <form method="POST">
            <label>Mobile Number or Email</label>
            <input type="text" name="username" placeholder="Enter mobile or email" required>

            <button class="btn full" type="submit">Continue</button>
        </form>

        <div class="auth-footer">
            <p>
                Remember password?
                <a href="{{ url_for('login') }}">Back to Login</a>
            </p>
        </div>

    </div>
</section>

{% endblock %}